<a href="https://colab.research.google.com/github/abhayBOT/Machine-learning/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOGISTIC REGRESSION** üê± üëå

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/diabetes.csv', header=0)

In [ ]:
#to display top 5 
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#drop null values
df = df.dropna()

In [ ]:
#display all feilds
print(list(df.columns))

['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#To know column name
df.columns[3]

'SkinThickness'

**SPLITING DATA**

In [ ]:
data = pd.get_dummies(df,columns= ['Pregnancies',	'DiabetesPedigreeFunction',	'Age',	'Outcome'])

X = data.iloc[:,1:]

In [ ]:
data.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pregnancies_0,Pregnancies_1,Pregnancies_2,Pregnancies_3,Pregnancies_4,...,Age_65,Age_66,Age_67,Age_68,Age_69,Age_70,Age_72,Age_81,Outcome_0,Outcome_1
0,148,72,35,0,33.6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,85,66,29,0,26.6,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,183,64,0,0,23.3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,89,66,23,94,28.1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,137,40,35,168,43.1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
data.columns

Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'Pregnancies_0', 'Pregnancies_1', 'Pregnancies_2', 'Pregnancies_3',
       'Pregnancies_4',
       ...
       'Age_65', 'Age_66', 'Age_67', 'Age_68', 'Age_69', 'Age_70', 'Age_72',
       'Age_81', 'Outcome_0', 'Outcome_1'],
      dtype='object', length=593)

In [ ]:

data

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pregnancies_0,Pregnancies_1,Pregnancies_2,Pregnancies_3,Pregnancies_4,...,Age_65,Age_66,Age_67,Age_68,Age_69,Age_70,Age_72,Age_81,Outcome_0,Outcome_1
0,148,72,35,0,33.6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,85,66,29,0,26.6,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,183,64,0,0,23.3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,89,66,23,94,28.1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,137,40,35,168,43.1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
764,122,70,27,0,36.8,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
765,121,72,23,112,26.2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
766,126,60,0,0,30.1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
767,93,70,31,0,30.4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
#to create an array for predicted value column
Y = data.iloc[:,0]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0)

**Building classifier**

In [ ]:
classifier = LogisticRegression(solver='lbfgs',random_state=0)

In [ ]:
classifier.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=0)

**TESTING**

In [ ]:
predicted_y = classifier.predict(X_test)

In [ ]:
predicted_y

array([  0, 100,  91, 124, 130, 106, 100, 125, 124, 129, 124, 129, 130,
       129, 147, 111, 100, 147, 111, 100,  90,  91, 180, 111, 124,  90,
       125, 100, 111, 130, 125, 100, 125, 135, 106,  91, 125, 125,  86,
       100, 129,  91, 106,  90, 197, 136, 112, 100, 100, 130, 130, 100,
       129, 111, 129,  90, 111,  91, 146, 125, 125, 124, 130, 167, 146,
       130, 130, 125,  91, 111,  91, 129,  90,  91,  91, 130, 125, 124,
       111,   0,  91, 135, 100, 125,  90,  91,  91, 129, 124, 129, 111,
       130, 129, 125, 112, 100, 100, 129, 100, 130, 129, 100, 130, 125,
         0, 146, 125,   0, 125, 130,  90, 100,  91, 111, 155, 130, 158,
       155, 111, 100,   0, 111, 100, 111, 125, 130, 158, 111,  91, 125,
       100,  99,  90, 197, 100,   0, 147, 162, 167,  91, 100, 100,  91,
        91,  91, 147, 111, 111, 111, 148, 100,  91, 125, 100, 100,  90,
       155, 100, 167, 167, 125, 125, 100, 129,  91, 167,  91,  91,  91,
       130, 180, 100, 130,  91, 147, 100,  91, 112, 125,  90, 130, 130,
       100, 162, 146, 130, 167, 130, 100, 158, 125, 111])

In [ ]:
for x in range(len(predicted_y)):
   if (predicted_y[x] == 1):
      print(x, end="\t")

**ACCURACY**

In [ ]:
print('Accuracy: {:.2f}'.format(classifier.score(X_test, Y_test)))

Accuracy: 0.01